* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto';
    font-size: 16px;
    font-size: 1rem;
    color: #000;
    overflow: auto;
}

ol,
ul {
    list-style: none;
}

.container {
    position: relative;
}

.nav {
    position: fixed;
    z-index: 4;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.247);
    border-bottom: 1px solid #05463f;
    background: #075E54;
    transition: color 0.3s linear;

}

.nav .logo {
    float: left;
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 20px;
}


.navbar {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.controls {
    float: right;

}

.controls a {

    color: white;
    padding: 15px;
    display: inline-block;
}

.controls a:focus:active,
.controls a:active:active {
    animation: hover-fast-fade 0.4s ease;
}

.search {
    display: block;
}

.search-box {
    width: 100%;
    height: 50px;
    background: white;
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    box-shadow: 0 4px 3px rgba(44, 44, 44, 0.336);
    animation: topRight 0.2s linear;
}


.menu {
    list-style-type: none;
    display: flex;
    height: 56px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.menu li {
    width: calc(87% / 3);
    height: 100%;
    position: relative;
}

.menu .camera {
    width: 12%;
}

.menu .camera a:hover:after {
    color: #000;
    width: 0;
}

.menu .camera i {
    color: #cccccc
}
.menu li a {
    font-weight: 600;
    font-size: 15px;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a:active {
    color: white;
}

.menu li a:after {
    content: '';
    border-bottom: 4px solid white;
    position: absolute;
    display: block;
    height: 2px;
    bottom: -1px;
    left: 0;
    width: 0;
    transition: color 0.3s linear;
}

.menu li a:hover:after {
    color: #fff;
    width: 100%;
}

.menu li a:active {
    animation: hover-fast-fade 0.4s ease;
}

.messages {
    padding-top: 130px;
}

.messages .data {
    display: flex;
    padding: 20px 20px 0px 20px;
}

.messages .data:last-child .meta {
    border-bottom: none;
  }
  
.messages .data .avatar {
height: 50px;
border-radius: 100px;
float: left;
display: inline-block;
overflow: hidden;
min-width: 50px;
width: 50px;
margin: 10px 10px 0px 0px;
}

.messages .data .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messages .data .meta {
    margin: 10px;
    padding-bottom: 30px;
    display: inline-block;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
  }
  
  .messages .data .meta h3.name {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
  }
  
  .messages .data .meta p {
    font-size: 14px;
  
    line-height: 150%;
    color: #747474;
  }
  
  .messages .data .meta .time {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    font-size: 0.875rem;
    color: #747474;
  }

  .whatsapp-float {
    position: fixed;
    z-index: 8;
    bottom: 0px;
    right: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 17px;
    cursor: pointer;
    background-color: #00CC3F;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(44, 44, 44, 0.336);
    user-select: none;
  }

  .whatsapp-float:hover {
    transition: -webkit-transform 0.3 ease;
    transition: transform 0.3 ease;
    transform: translateY(-2px);

  }

  .whatsapp-float i {
    font-size: 25px;
    font-size: 1.5625rem;
    color: #fff;
  }

